.book-summary ul.summary li a {
  white-space: initial;
}

.markdown-section h1 {
  line-height: 1.2;
}

.markdown-section .meta {
  font-size: 14px;
  margin-bottom: 48px;
}

.markdown-section .meta .author {
  margin-bottom: 0;
  font-weight: bold;
}

.footer {
  margin-top: 48px;
  padding-top: 32px;
  border-top: 1px solid #eaecef;
  font-size: 14px;
}
